body {
  background: #f0f0f0;
  font-size: 14px;
  color: #676767;
}
.bg-2 {
  background: #f7f7f7 !important;
}
.flex {
  flex: 1;
}
.app {
  min-height: 100vh;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  font-family: "Rancho";
  height: calc(100vh + 50px);
  position: relative;
  width: 100%;
  transition: all 0.15s ease;
}

.header::before {
  content: "";
  background: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
  transition: all 0.25s ease-out;
}

.header #header-logo {
  position: absolute;
  left: 50%;
  bottom: 15%;
  transform: translateX(-50%);
  max-width: 80%;
  max-height: 80%;
  transition: all 0.25s ease-out;
}

.header #background {
  position: fixed;
  background-size: cover;
  background-position-x: 35%;
  width: 100%;
  height: calc(100vh + 50px);
  top: 0;
  left: 0;
  z-index: -1;
}

.header #header-divider {
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.header #header-divider .header-divider-svg {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.svg-divider {
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.svg-divider.top {
  top: 0;
  bottom: auto;
}
.svg-divider.flip {
  transform: rotate(180deg);
}
.countdown-wrap {
  min-height: 300px;
  background: #eed6de;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem 0.5rem;
}

/* Section */
.judul-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.judul-section.kiri {
  align-self: flex-start;
}
.judul-section.tengah {
  align-self: center;
}
.judul-section.kanan {
  align-self: flex-end;
}
.judul-section .icon {
  font-size: 4.5rem;
  margin-top: -0.5rem;
}
.judul-section.icon-kiri .icon {
  margin-right: 1.5rem;
}
.judul-section.icon-kanan .icon {
  margin-left: 1.5rem;
}
.judul-section .tulisan .atas {
  font-size: 2.5rem;
  font-family: "Kitten";
}
.judul-section .tulisan .bawah {
  font-size: 1.75rem;
  margin-top: -1rem;
  font-family: "Caveat Brush";
}
.judul-section .kiri {
  text-align: left;
}
.judul-section.tengah {
  /* text-align: center; */
  justify-content: center;
}
.judul-section.kanan .tulisan {
  text-align: right;
}
/* FONT */
.font-kitten {
  font-family: "Kitten";
  font-feature-settings: "liga" 1, "smcp" 1;
}
.font-kitten-ding {
  font-family: "Kitten Dingcats";
  font-feature-settings: "liga" 1, "smcp" 1;
}
.font-rancho {
  font-family: "Rancho";
}
.font-caveat-brush {
  font-family: "Caveat Brush";
}
.text-bold {
  font-weight: bold;
}
/* Text Color */
.text-pink {
  color: #f86191;
}
.text-hitam {
  color: #676767;
}
.text-coklat {
  color: coral;
}
.text {
  font-size: 1rem;
}

.text-1-5rem {
  font-size: 1.5rem;
}

.section-divider {
  position: relative;
  width: 100%;
  height: 10px;
  background: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.section-divider::after {
  font-family: "FontAwesome";
  content: "\f004";
  position: absolute;
  left: 50%;
  color: #f86191;
  transform: translateX(-50%);
}
.section-divider::before {
  font-family: "FontAwesome";
  content: "\f004";
  position: absolute;
  left: 50%;
  color: #ffffff;
  transform: translateX(-50%) scale(2);
}

/* Countdown */
.countdown-item {
  text-align: center;
  background: #f86191;
  padding: 1rem;
  border-radius: 1rem;
  color: #eed6de;
  font-size: 2rem;
  font-family: "Caveat Brush";
  box-shadow: 0 5px 0 #e1618a;
}

.countdown-item .angka {
  font-size: 4rem;
}

.countdown-item .keterangan {
  color: #fea4c1;
  font-family: "Kitten";
}

/* Penganten Item */
.penganten-wrap {
  position: relative;
  padding-top: 5rem !important;
}

.penganten-wrap .svg-divider {
  bottom: auto;
  top: 0;
  transform: rotate(180deg);
}

.penganten-item {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.penganten-item .penganten-photo {
  /* width: 200px;
  height: 200px;
  border: 8px solid #f86191; */
  /* align-self: center; */
  /* border-radius: 100%;
  background-size: cover;
  background-position: center; */
}

.penganten-item .penganten-nama {
  font-size: 2.5rem;
  font-family: "Caveat Brush";
  color: #f86191;
}
.penganten-subnama {
  font-size: 0.8rem;
  font-weight: bold;
  font-family: "Roboto";
  text-align: center;
}
.penganten-isi {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Lato";
}
.penganten-divider {
  padding-top: 150px;
  position: relative;
}
.penganten-divider::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  /* background: #f86191; */
  border: 1px dashed #f86191;
  width: 1px;
  height: 50%;
  bottom: 0;
}
/* Akad Nikah */
.akadnikah-kutipan .isi {
  font-size: 1.3rem;
  letter-spacing: 0.01rem;
  padding: 0 1.5rem;
  max-width: 500px;
}
.akadnikah-acara {
  display: flex;
  align-items: flex-end;
  margin-top: 3rem;
  margin-bottom: 1rem;
  color: #f86191;
}

.akadnikah-acara > .fa.fa-map-marker {
  font-size: 2.25rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.akadnikah-acara .judul {
  font-size: 1.75rem;
  font-weight: bold;
  font-family: "Kitten";
}

.akadnikah-acara .isi {
  color: #676767;
}

.akadnikah-tanggal {
  display: flex;
  margin-top: 2rem;
}
.akadnikah-tanggal .tanggal {
  text-align: right;
}

/* Resepsi */
.resepsi-judul-kata {
  flex: 1;
  text-align: center;
  font-family: "Caveat Brush";
  font-size: 1rem;
  max-width: 500px;
  margin-top: 4rem;
  border-top: 1px dashed rgba(0, 0, 0, 0.3);
  padding-top: 1rem;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.resepsi-tanggal {
  margin-top: 2rem;
  font-family: "Rancho";
  font-size: 2rem;
  font-weight: bold;
  position: relative;
}
.resepsi-tanggal::before,
.resepsi-tanggal::after {
  content: "";
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20standalone%3D%22no%22%3F%3E%3C%21--%20Generator%3A%20Gravit.io%20--%3E%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20style%3D%22isolation%3Aisolate%22%20viewBox%3D%22258.347%20291.125%2019.73%2040.763%22%20width%3D%2219.73%22%20height%3D%2240.763%22%3E%3Cpath%20d%3D%22%20M%20270.733%20323.402%20C%20271.454%20319.046%20273.588%20315.766%20275.493%20316.082%20C%20277.399%20316.397%20278.36%20320.19%20277.639%20324.546%20C%20276.917%20328.902%20274.784%20332.182%20272.878%20331.867%20C%20270.972%20331.551%20270.011%20327.758%20270.733%20323.402%20Z%20%20M%20270.981%20299.528%20C%20271.56%20303.905%20273.585%20307.253%20275.5%20307%20C%20277.415%20306.747%20278.5%20302.987%20277.921%20298.61%20C%20277.342%20294.233%20275.317%20290.885%20273.402%20291.138%20C%20271.487%20291.391%20270.403%20295.151%20270.981%20299.528%20Z%20%20M%20263.39%20314.458%20C%20267.083%20312.037%20270.941%20311.384%20272%20313%20C%20273.059%20314.616%20270.92%20317.892%20267.227%20320.312%20C%20263.534%20322.733%20259.677%20323.386%20258.618%20321.77%20C%20257.559%20320.154%20259.697%20316.878%20263.39%20314.458%20Z%20%20M%20263.39%20308.542%20C%20267.083%20310.963%20270.941%20311.616%20272%20310%20C%20273.059%20308.384%20270.92%20305.108%20267.227%20302.688%20C%20263.534%20300.267%20259.677%20299.614%20258.618%20301.23%20C%20257.559%20302.846%20259.697%20306.122%20263.39%20308.542%20Z%20%22%20fill-rule%3D%22evenodd%22%20fill%3D%22#676767%22/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  position: absolute;
  top: .5rem;
  width: 19.73px;
  height: 40.763px;
  left: -2.5rem;
  transform: translateX(-50%) scale(1.5);
}
.resepsi-tanggal::after {
  left: auto;
  right: -2.5rem;
  transform: translateX(50%) scale(1.5) rotate(180deg);
}
.resepsi-waktu {
  font-family: "Caveat Brush";
  font-size: 1.25rem;
}
.resepsi-info {
  display: flex;
  margin-top: 5rem;
  margin-bottom: 2rem;
  width: 100%;
  justify-content: center;
}
.resepsi-alamat {
  max-width: 450px;
  flex: 1;
}
.resepsi-alamat.ayat {
  position: relative;
  padding-right: 2rem;
  text-align: right;
  border-right: 1px dashed #f86191;
}
.resepsi-alamat.ayat::after {
  font-family: "FontAwesome";
  content: "\f004";
  position: absolute;
  right: -2rem;
  color: #f86191;
  transform: translateX(-50%);
  font-size: 2rem;
  top: -4rem;
}
.resepsi-alamat.mawad {
  padding-left: 2rem;
}
.resepsi-alamat .judul {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Kitten";
  color: #f86191;
}
.resepsi-alamat .isi {
  font-size: 1rem;
  font-family: "Lato";
}

/* Peta Lokasi */
.petalokasi-wrap {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.petalokasi-wrap #petalokasi {
  position: absolute;
  height: 100vh;
  top: 0;
  width: 100%;
}
.mapmarker-icon {
  font-size: 1rem;
  color: #ffffff;
  position: relative;
  transform: translateY(-100%) translateX(0);
}
.map-icon-label {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.maplabel {
  position: absolute;
  font-family: "Kitten";
  color: #f86191;
  font-weight: bold;
  font-size: 1.25rem;
  left: 200%;
  top: -25%;
  text-shadow:0px -3px 5px rgba(0, 0, 0, 0.5),0px 3px 5px rgba(0, 0, 0, 0.5),3px 0px 5px rgba(0, 0, 0, 0.5),-3px 0px 5px rgba(0, 0, 0, 0.5);
}
.petalokasi-info {

}
.petalokasi-info .judul {
  font-weight: bold;
  font-size: 1.5rem;
  font-family: "Kitten";
}
.petalokasi-info .isi {
  display: flex;
  flex-direction: column;
}
.btn-kecil {
  padding: .25rem .5rem;
  font-size: .75rem;
  line-height: 1.5;
  border-radius: .2rem;
}
/* .gm-style-pbc {
  z-index: 5 !important;
} */

/* Galeri Foto */
.galeri-wrap {
  position: relative;
  padding-top: 3rem;
  padding-bottom: 4rem;
}
#galeri-foto {
  margin-top: 2rem;
}
.galeri-item {
  display: block;
  margin-top: 3rem;
}
.galeri-item > img {
  border-radius: 5px;
}

/* Footer */
footer {
  height: 180px;
  color: #fea4c1;
  position: relative;
}
footer .isi-wrap {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: url(../images/footer-bg-dark.png);
  height: 100%;
  z-index: -2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
footer .isi {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.wip-badge {
  position: fixed;
  font-family: "Kitten";
  font-size: 1.25rem;
  background: #f86191;
  color: #ffffff;
  z-index: 2815;
  top: 2rem;
  right: 0;
  box-shadow: 0 0px 10px 5px rgba(0, 0, 0, 0.15);
  text-align: right;
  padding: 0.5rem 1rem;
  border-bottom: 3px solid #e1618a;
}

/* Animasi Hati */
.hati {
  position: absolute;
  border-radius: 100%;
  bottom: 10px;
  z-index: 1;
}
.hati:before,
.hati:after {
  position: absolute;
  content: "";
  left: 20px;
  top: 0;
  width: 20px;
  height: 30px;
  background: #fc2e5a;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
.hati:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

/* MEDIA QUERY */
/* MD down */
@media (max-width: 768px) {
  .mb-mobile {
    margin-bottom: 2rem !important;
  }
  .countdown-item {
    margin-bottom: 2rem !important;
  }
  .judul-section {
    transform: scale(0.8);
  }
  .judul-section .icon {
    margin-top: 0;
  }
  .penganten-divider {
    width: 100%;
    text-align: center;
    padding-top: 3rem;
  }
  .penganten-divider::after {
    display: none;
  }
  .galeri-item {
    margin-top: 2rem;
  }
  .resepsi-judul-kata {
    max-width: 85% !important;
    margin-top: 1rem !important;
  }
  .resepsi-tanggal {
    margin-top: 1rem;
  }
  .resepsi-tanggal::before,
  .resepsi-tanggal::after {
    top: 50%;
  }
  .resepsi-info {
    margin-top: 2rem;
    margin-bottom: 0rem;
    max-width: 85%;
    padding-top: 2rem;
    flex-direction: column;
    border-top: 1px dashed rgba(0, 0, 0, 0.3);
  }
  .resepsi-alamat {
    padding: 0 !important;
    border: none !important;
    text-align: center !important;
  }
  .resepsi-alamat.ayat {
    margin-bottom: 2rem;
  }
  .resepsi-alamat.ayat::after {
    display: none;
  }
  .resepsi-waktu {
    font-size: 1.15rem;
    margin-top: .5rem;
  }
}
/* SM down */
@media (max-width: 576px) {
  .akadnikah-kutipan .isi {
    font-size: 0.9rem;
    padding: 0 0.5rem;
    max-width: 332px;
  }
  .akadnikah-acara {
    margin-bottom: 0;
  }
  .akadnikah-acara .judul {
    font-size: 1.25rem;
  }
  .akadnikah-acara .isi {
    font-size: 0.6rem;
    font-weight: bold;
  }
  .akadnikah-acara > .fa.fa-map-marker {
    font-size: 1.25rem;
  }
  .galeri-wrap {
    padding-top: 1rem;
  }
  #galeri-foto {
    margin-top: 0;
  }
}
/* SM up */
@media (min-width: 576px) {
}

/* MD Up */
@media (min-width: 768px) {
}

/* LG Up */
@media (min-width: 992px) {
  .header #header-logo {
    right: 5%;
    top: 50%;
    transform: translateY(-50%) translateX(0);
    max-width: 80%;
    max-height: 100%;
    left: auto;
  }
  .header::before {
    opacity: 0;
  }
  .countdown-wrap .container {
    max-width: 720px !important;
  }
  .countdown-item {
    padding-left: 0;
    padding-right: 0;
  }
}

/* XL Up */
@media (min-width: 1200px) {
}
